<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Online Gallery App</title>
        <link rel="stylesheet" href="../app.css" type="text/css">
        <link rel="stylesheet" href="../nav.css" type="text/css">
 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT&amp;display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Libre+Caslon+Display&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    </head>
    </head>
    <body> 
<!--############### START NAV ###########################-->
<div id="sideBar"></div>
<div id="contentList">
    <div class="container">
        <br><br>
        
        
        <a href="/" ><span id="one"><span>01</span><span style="font-size: calc(1.5rem + .6vw); color: grey">Home</span></span></a>
        <a href="/userGallery"><span id="two"><span>02</span><span style="font-size: calc(1.5rem + .6vw); color: grey">Gallery</span></span></a>
        <a href="/userArtists" ><span id="three"><span>03</span><span style="font-size: calc(1.5rem + .6vw); color: grey">Artists</span></span></a>
        <a href="/profile" id="four"><span>04</span>Profile</a>
        
        
     
    </div>
</div>
<div id="contentIms"> </div>
<div class="nav"> <!--#### start nav logo ####-->
    <div class="nav-icon"></div>
</div>

<a href="/profile"><i id="accountIcon" class="fa fa-user" style="font-size: 25px; color: rgb(58, 57, 57)"></i></a>
<a href="/"><i id="homeIcon" class="fa fa-home" style="font-size: 30px; color: rgb(58, 57, 57)"></i></a>
<a href="/admin"><img id="adminIcon" src="/adminIconSml.png" alt="admin"></a>
<!--#### end nav logo ####-->   
<!--############### END NAV ###########################-->   