    <% include ../partials/nav.ejs %> <!-- header -->
    
        <div class="vlform"></div> <!-- vertical line -->
        <div class="bg"> <!-- wrapper -->

            <div class="container"> 
                <div id="pageTitle">Add Artist</div> <!-- title -->

                <div class="element"> <!-- image -->
                    <img id="formImage" src="/add_artists.jpg" alt="artist">
                </div>

                <form accept-charset="UTF-8" class="validate" action="/addArtist" method="post">
                    <input type="text" name="image" placeholder="Image URL .." title="Jpg's or Png's only" required pattern=".*\.(jpe?g|png)$" required/>
                    <input type="text" name="name" placeholder="Artist Name ..." title="Letters and spaces only" required pattern="[A-Za-z][A-Za-z\s]*$" required>
                    <input type="email" name="email" placeholder="Email ...">
                    <input type="text" name="tel" placeholder="Contact Number ..." title="Must contain numbers, '-', '()' '+' Optional" required pattern="(?=.*[0-9])[- +()0-9]+$">  
                    <input type="text" name="nationality" placeholder="Nationality ..." title="Letters, numbers and spaces(at least one letter or number)" required pattern="[A-Za-z0-9 _]*[A-Za-z0-9][A-Za-z0-9 ,._]*$">
                    <input name="bio" placeholder="Biography ...">
                    <button class="formbutton" >Submit</button>
                </form>
                    
            </div> <!-- end container -->
        </div> <!-- end wrapper -->
   
    <script src="../nav.js"></script>
    <script src="../jquery.js"></script>      
    </body>
    </html>   

         


 
