    <div class="bgtest"><!-- wrapper --> 

        <% include ../partials/nav.ejs %><!-- header --> 
    
        <section > <!-- intro screen -->
            <div class="margin"></div>
            <div id="title"><div class="hl"></div>The Online<br> Gallery</div>
            <div id="image1"></div>
            <div class="vl"><div id="scroll">scroll</div></div>
        </section> <!-- end intro screen -->
        
        <div class="white"> <!-- on scroll effect -->
            <p class="hideme" id="text">“Welcome to 'The Online Gallery', a carefully currated body of work.  Mel at magna aperiam, pro ex debitis iracundia intellegat. Qui ex labores facilisis contentiones. Dictas tacimates qui an, novum tollit disputando vel no. Petentium salutatus sit at. Vim persecuti et, tantas copiosae ne sea.”
            <br><br>    ― JQuery FadeUp Example</p>
        </div> <!-- end on scroll effect -->

    </div><!--end wrapper --> 
    
<script src="../nav.js"></script>
<script src="../jquery.js"></script>    
</body>
</html>              


 
